body {
  padding: 5px;
  background-image: linear-gradient(to top, beige, blanchedalmond, bisque, white);
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  font-family: 'Source Code Pro', monospace;
}
section {
  margin-top: 110px;
  margin-bottom: 50px;
}
/* NAVBAR STYLES */
#brand {
  font-family: 'Dancing Script', cursive;
}
#brand:hover{
  cursor: pointer;
}
#topnavbar {
  background-color: black;
  font-family: 'Source Code Pro', monospace;
  font-weight: bolder;
}
.social-icon {
  width: 25px;
  background-color: white;
  border-radius: 15px;
  padding: 1px;
}
/* INTRO STYLES */
.intro-div {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 300px;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  font-family: 'Source Code Pro', monospace;
  font-weight: bolder;
}
.headshot-div img{
  /* width: 50%; */
  border-radius: 175px;
  box-shadow: 0px 2px 2px black;
}
.brand-div {
  padding: 10px;
  background-image: linear-gradient(to top, lightgray, white);
  box-shadow: 0px 2px 2px black;
  border-radius: 10px;
  width: 50%;
  height: fit-content;
  margin-left: 120px;
}
.brand-p {
  padding-top: 25px;
}
#about {
  height: 20px;
}
/* COURSEL STYLES */
.carousel-main-div {
  display: flex;
  justify-content: center;
  align-content: center;
}
#carousel {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.carousel-card {
  text-align: center;
}
.carousel-card img{
  width: 700px;
  border: solid 5px;
  border-radius: 20px;
  align-self: center;
}
/* BIO STYLES */
.bio-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 50px;
  margin-bottom: 75px;
  padding: 10px;
  font-family: 'Source Code Pro', monospace;
  /* font-weight: bold; */
}
.bio-section {
  display: flex;
  flex-direction: row;
}
.bio-section img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.bio-article {
  padding: 10px;
  background-image: linear-gradient(to top, lightgray, white);
  background-color: black;
  color: black;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: 0px 2px 2px black;
  text-shadow: 0px 1px 1px black;
  border-radius: 10px;
  width: 50%;
}
.bio-spacer {
  width: 50%;
}
/* .bio-article:hover {
  transform: scale(1.05);
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 4px 4px #FF6B53;
} */

.bio-article li {
  list-style:circle
}
.bio-article li a {
  color: #F2CFB8;
  text-decoration: underline;
  font-size: 16px;
}
#comp-img {
  margin-top: 50px;
}
#cooking-img {
  border-radius: 30px;
  border: 1px transparent;
  margin-top: 50px;
}


@media only screen and (max-width: 970px) {
  .intro-div {
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .brand-div {
    margin-left: 0px;
    width: 100%;
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

